@import url("theme.css");

[aria-label="breadcrumbs navigation"] {
    display: none;
}

.version {
    display: none;
}

[role="search"]{
    display: none;
}

.icon-home {
    content: " ";
    font-size:120%;
    font-weight:bold;
}
