@import url("theme.css");

[aria-label="breadcrumbs navigation"] {
    display: none;
}

.version {
    display: none;
}

[role="search"]{
    display: none;
}

.icon-home:before{
    content:"🐳";
}

.icon-home {
    font-family: Cooper;
    font-size: 150%;
    font-weight: bold;
}

